<nav class="navigationContainer">
    <ul class="navigation">
        <li class="linkContainer">
            <a class="link" href="/">Accueil</a>
        </li>
        <li class="linkContainer">
            <a class="link" href="{{ path('listing_agents') }}">Agents</a>
        </li>
        <li class="linkContainer">
            <a class="link" href="{{ path('listing_transactions') }}">Transactions</a>
        </li>
        <li class="linkContainer">
            <a class="link" href="{{ path('report') }}">Reports</a>
        </li>
    </ul>
</nav>
